.card-container {
  position: relative;
  min-height: 32rem;
  width: 100%;
  transition: 0.5s;
  @media screen and (min-width: $breakPoint-Tablet) {
    height: 48rem;
  }
  @media screen and (min-width: $breakPoint-Desktop) {
    min-height: 100%;
    height: 60rem;
    box-shadow: 0px 0px 6px 1px #c7bdbd;
    &:hover {
      box-shadow: 0px 0px 6px 0px #424141;
      transform: scale(1.01);
    }
  }

  img {
    @media screen and (min-width: $breakPoint-Tablet) {
      width: 90%;
      margin-top: 2rem;
    }
    @media screen and (min-width: $breakPoint-Desktop) {
      object-fit: cover;
      height: 60%;
      object-position: left;
    }
    padding: 0.3rem;
    width: 90%;
  }
  .card-infos {
    > * {
      margin-top: 1.5rem;
    }
    p {
      font-family: $pop4;
      font-size: 1.25rem;
      line-height: 1.25rem;
      color: $color4;
    }

    .guests {
      > * {
        margin-top: 10px;
        font-family: $rob4;
        font-size: 0.813rem;
        line-height: 1.438rem;
      }
      span {
        margin-left: 10px;
        color: $color2;
      }
      .house {
        margin-left: 20px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 100%;
          background-color: $color4;
          left: -9px;
          bottom: 0;
        }
      }
    }
    .card-desc {
      font-family: $rob4;
      font-size: 0.875rem;
      line-height: 1.75rem;
      color: $color5;
      max-width: 90%;
      margin: 2rem auto;
    }
  }

  .card-booking {
    min-width: 100%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    span {
      padding: 10px 20px;
      border-radius: 5px;
      font-family: $rob3;
      font-size: 1rem;
      line-height: 1rem;
      border: 2px solid black;
      color: $color2;
      transition: 0.4s;

      &:hover {
        background-color: $color2;
        color: $color1;
      }
    }
  }
}
.card-container:first-child {
  @media screen and (min-width: $breakPoint-Tablet) {
    height: 80rem;
  }
  @media screen and (min-width: $breakPoint-Desktop) {
    min-height: 100%;
    height: 60rem;
  }
  min-height: 47rem;
  img {
    @media screen and (min-width: $breakPoint-Tablet) {
      height: 80%;
      width: 90%;
    }
    @media screen and (min-width: $breakPoint-Desktop) {
      object-fit: cover;
      height: 60%;
      object-position: left;
    }
  }
}
