.dashboard-main {
  .dashboard-header {
    @media screen and (min-width: $breakPoint-Desktop) {
      margin: 3rem auto;
      display: flex;
      justify-content: space-around;
    }

    .widget {
      @media screen and (min-width: $breakPoint-Desktop) {
        border-radius: 20px;
      }
      border: 1px solid $color1;
      max-width: 100%;
      position: relative;
      @include around;
      text-align: center;
      color: $color1;
      background-color: rgba(52, 58, 69, 0.769);
      padding: 1rem 3rem;

      .items {
        span {
          font-size: 2rem;
          color: red;
          padding-bottom: 1rem;
        }
        h3 {
          font-family: $pop4;
          font-size: 1.563rem;
          line-height: 2rem;
          color: rgb(59, 210, 59);
        }
        h5 {
          font-family: $pop4;
          font-size: 0.75rem;
          line-height: 1rem;
          color: $color1;
        }
      }
      .icon {
        top: 50%;
        transform: translateY(-50%);
        right: 0.8rem;
        font-size: 1.6rem;
        position: absolute;
        color: $color1;
      }
    }
  }
}
