.section_2 {
  @media screen and (min-width: $breakPoint-Tablet) {
    padding-top: 2rem;
  }
  background-color: $color1;
  .main_select {
    text-align: center;
    h2 {
      @media screen and (min-width: $breakPoint-Tablet) {
        font-size: 2.875rem;
        line-height: 2.875rem;
      }
      @media screen and (min-width: $breakPoint-Desktop) {
        margin-bottom: 2rem;
      }
      text-align: center;
      font-family: $pop2;
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: $color4;
    }

    .villas-cards {
      text-align: center;
      @media screen and (min-width: $breakPoint-Desktop) {
        display: inline-flex;
        gap: 1rem;
        margin-bottom: 2rem;
        width: 95%;
      }
    }
  }
}
