.section_5 {
  background-color: $color1;
  text-align: center;
  min-height: 800px;

  .main-section-grid {
    @media screen and (min-width: $breakPoint-Desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .walima {
      background-image: url("../img/home/restaurent.jpeg");
      height: 25rem;
      width: 100%;
      background-size: cover;
    }
    .sansibility {
      background-image: url("../img/home/children.jpeg");
      height: 25rem;
      width: 100%;
      background-size: cover;
    }
    .read {
      @media screen and (min-width: $breakPoint-Desktop) {
        padding: 30px 50px;
      }
      > * {
        margin-top: 2rem;
      }
      h3 {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 2.875rem;
          line-height: 2.875rem;
        }
        font-family: $pop2;
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      p {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 0.875rem;
          line-height: 1.75rem;
          letter-spacing: 1px;
        }
        font-family: $rob4;
        font-size: 0.875rem;
        line-height: 1.75rem;
        color: #878787;
        width: 90%;
        margin: 1rem auto;
      }

      a {
        & :hover {
          background-color: $color4;
          color: $color1;
          animation: up 0.4s ease forwards;
        }
      }
      button {
        margin: 2rem 0;
        cursor: pointer;
        transition: 0.4s;
        font-family: $rob3;
        font-size: 0.938rem;
        line-height: 0.938rem;
        padding: 15px 40px;
        background-color: transparent;
        border: 2px solid rgb(64, 63, 61);
        border-radius: 5px;
      }
    }
  }
}
