.section_1 {
  padding: 1rem 2rem;
  background-color: $color1;
  .main-villa {
    @media screen and (min-width: $breakPoint-Desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    display: block;

    .section_1_img {
      @media screen and (min-width: $breakPoint-Tablet) {
        background-position: center;
        background-size: 110%;
      }
      @media screen and (min-width: $breakPoint-Desktop) {
        background-size: cover;
        background-position: left;
        height: 40rem;
        margin-top: 6rem;
      }
      background-image: url("../img/home/section_1.jpeg");
      background-position: right;
      background-repeat: no-repeat;
      height: 30rem;
      width: 100%;
      background-size: 180%;
      border-radius: 1rem;
    }

    .text {
      h2 {
        @media screen and (min-width: $breakPoint-Tablet) {
          text-align: left;
          font-size: 2.875rem;
          line-height: 2.75rem;
        }
        font-family: $pop2;
        line-height: 2.5rem;
        font-size: 2.5rem;
        text-align: center;
      }
      p {
        margin-top: 1.875rem;
        font-family: $rob3;
        font-weight: 200;
        font-size: 1rem;
        line-height: 1.938rem;
        color: $color3;
        text-align: left;
      }

      .link-villas {
        @media screen and (min-width: $breakPoint-Desktop) {
          display: flex;
          justify-content: space-around;
          flex-direction: row;
          width: 100%;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto;
        .button {
          margin: 1rem auto;
          font-family: $rob3;
          font-size: 18px;
          color: $color1;
          background: $color2;
          cursor: pointer;
          line-height: 18px;
          padding: 10px 30px;
          transition: 0.4s;
          font-size: 14px;
          &:hover {
            transform: scale(1.15);
          }
          span {
            margin: 0 auto;
          }
        }

        .check {
          margin-right: 20px;
          font-family: $pop2;
          font-size: 24px;
          line-height: 24px;
          color: $color4;
        }
      }
    }
  }
}
