.section_2 {
  max-width: 90%;
  padding: 40px;
  margin: 0 auto;

  .main_select {
    text-align: center;
    h2 {
      @media screen and (max-width: 520px) {
        font-size: 2rem;
      }
      font-family: $pop2;
      font-size: 46px;
      line-height: 46px;
      color: #1c1c1c;
    }

    .villas-cards {
      @media screen and (max-width: 1350px) {
        display: block;
      }
      display: flex;
    }
  }
}
