.send-message {
  @media screen and (max-width: 1040px) {
    display: block;
  }
  display: flex;
  min-width: 100%;

  .send-message-img {
    @media screen and (max-width: 1040px) {
      min-width: 100%;
    }
    max-width: 50%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .send-message-form {
    @media screen and (max-width: 349px) {
      display: none;
    }
    .h2-send {
      @media screen and (max-width: 720px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 584px) {
        font-size: 1.4rem;
      }
      margin-top: 2rem;
      font-family: $pop2;
      font-size: 2.875rem;
      line-height: 2.875rem;
      text-align: center;
      color: $color4;
    }
    background-color: rgb(244, 244, 244);
    width: 100%;
    form {
      padding: 2rem;
      .input-groups {
        @media screen and (max-width: 385px) {
          max-width: 80%;
          margin: 0 auto;
        }
        label {
          font-family: $rob4;
          font-size: 1rem;
          line-height: 1.7rem;
          color: #403f3d;
        }
        display: flex;
        flex-direction: column;
      }
      input {
        padding: 1rem;
        background-color: transparent;
        border: 1px solid $color2;
        &::placeholder {
          font-family: $rob3;
          font-size: 0.9rem;
          line-height: 1rem;
          color: #969696;
        }
      }
      textarea {
        background-color: transparent;
        border: 1px solid black;
        &::placeholder {
          padding: 0.6rem;
          font-family: $rob3;
          font-size: 0.9rem;
          line-height: 1rem;
          color: #969696;
        }
      }
      @media screen and (max-width: 584px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "fullName"
          "email"
          "message"
          "recaptcha"
          "send";
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      grid-template-areas:
        "fullName email"
        "message message"
        "recaptcha recaptcha"
        "send send";

      .name {
        grid-area: fullName;
      }
      .email {
        grid-area: email;
      }
      .message {
        grid-area: message;
      }
      #recaptcha {
        @include flex;
        width: 90%;
        margin: 0 auto;
        min-height: 100%;

        grid-area: recaptcha;
      }
      .send {
        @media screen and (max-width: 584px) {
          width: 90%;
          margin: 0 auto;
          height: 4rem;
        }
        font-family: $rob4;
        font-size: 1rem;
        color: $color1;
        background-color: $color6;
        grid-area: send;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
  .succes-send-mgs {
    text-align: center;
    margin-top: 2rem;
    font-family: $pop2;
    font-size: 2.875rem;
    line-height: 2.875rem;

    color: darkgreen;

    transition: 0.4s;
  }
}
