.send-message {
  @media screen and (min-width: $breakPoint-Desktop) {
    display: flex;
    min-width: 100%;
  }

  .send-message-img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .send-message-form {
    @media screen and (min-width: $breakPoint-Tablet) {
      font-size: 2.875rem;
      line-height: 2.875rem;
    }
    .h2-send {
      padding-top: 2rem;
      font-family: $pop2;
      font-size: 1.875rem;
      line-height: 0.875rem;
      text-align: center;
      color: $color4;
    }
    background-color: rgb(244, 244, 244);
    width: 100%;
    form {
      max-height: 40rem;
      padding: 2rem;
      .input-groups {
        @media screen and (min-width: $breakPoint-Tablet) {
        }
        label {
          font-family: $rob4;
          font-size: 1rem;
          line-height: 1.7rem;
          color: #403f3d;
        }
        display: flex;
        flex-direction: column;
      }
      input {
        @media screen and (min-width: $breakPoint-Desktop) {
        }
        padding: 1rem;
        background-color: transparent;
        border: 1px solid $color2;
        &::placeholder {
          font-family: $rob3;
          font-size: 0.9rem;
          line-height: 1rem;
          color: #969696;
        }
      }
      textarea {
        background-color: transparent;
        border: 1px solid black;
        &::placeholder {
          padding: 0.6rem;
          font-family: $rob3;
          font-size: 0.9rem;
          line-height: 1rem;
          color: #969696;
        }
      }
      /*  @media screen and (max-width: 584px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "fullName"
          "email"
          "message"
          "recaptcha"
          "send";
      } */
      @media screen and (min-width: $breakPoint-Tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        grid-template-areas:
          "fullName email"
          "message message"
          "recaptcha recaptcha"
          "send send";
      }

      @media screen and (min-width: $breakPoint-Desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        grid-template-areas:
          "fullName email"
          "message message"
          "recaptcha recaptcha"
          "send send";
      }

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 6.25rem);

      grid-template-areas:
        "fullName "
        "email"
        "message "
        "recaptcha "
        "send ";

      .name {
        grid-area: fullName;
      }
      .email {
        grid-area: email;
      }
      .message {
        grid-area: message;
      }
      #recaptcha {
        @include flex;
        width: 90%;
        margin: 0 auto;
        min-height: 100%;

        grid-area: recaptcha;
      }
      .send {
        /*      @media screen and (max-width: 584px) {
          width: 90%;
          margin: 0 auto;
          height: 4rem;
        } */
        font-family: $rob4;
        font-size: 1rem;
        color: $color1;
        background-color: $color6;
        grid-area: send;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
  .succes-send-mgs {
    text-align: center;
    margin-top: 2rem;
    font-family: $pop2;
    font-size: 2.875rem;
    line-height: 2.875rem;

    color: darkgreen;

    transition: 0.4s;
  }
}
