.error-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.485);
  @include flex;
  z-index: 1;
  .error-message-container {
    width: 80%;
    background-color: $color1;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px rgb(60, 57, 57);
    .modal-header {
      position: relative;
      height: 2rem;
      width: 100%;
      background-color: $color2;
      .redpoint {
        position: absolute;
        top: 0.5rem;
        height: 0.9rem;
        width: 0.9rem;
        left: 0.4rem;
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .xmark-icon {
          color: $color2;
        }
      }
    }
    main {
      @media screen and (min-width: $breakPoint-Tablet) {
        @include around;
        max-width: 85%;
        margin: 0 auto;
      }
      text-align: center;
      .server-stratus {
        @media screen and (min-width: $breakPoint-Tablet) {
          padding: 3rem 0;
        }
        p {
          @media screen and (min-width: $breakPoint-Tablet) {
            font-size: 3rem;
          }
          font-size: 2rem;
          color: rgb(185, 23, 23);
        }
      }
      h1 {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-family: $pop7;
          font-size: 2rem;
        }
        font-family: $pop4;
        font-size: 1.4rem;
        color: $color7;
      }
      p {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 1rem;
        }
        font-family: $rob4;
        font-size: 0.7rem;
        color: $color6;
      }
    }
    .close-button {
      @media screen and (min-width: $breakPoint-Tablet) {
        padding: 2rem 0;
      }
      text-align: center;
      padding: 1rem;

      .try {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 1rem;
        }
        border: 1px solid $color2;
        padding: 0.5rem;
        border-radius: 1rem;
        font-size: 0.6rem;
      }
    }
  }
}
