.resa-popUp-container {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  .container {
    padding: 20px;
    position: relative;
    background-color: rgba(176, 33, 33, 0.82);
    min-width: 600px;
    max-height: 300px;
    opacity: 0;
    transform: translateY(-500px);
    border-radius: 20px;
    animation: pop 2s ease forwards;
    color: rgb(4, 4, 4);
    .first-line {
      .icons {
        color: green;
        font-size: 1.4rem;
        margin-left: 20px;
      }
      span {
        margin-right: 15px;
        font-size: 1.2rem;
        color: rgba(72, 73, 73, 0.735);
        em {
          color: rgba(3, 3, 3, 0.802);
          font-size: 1.3rem;
        }
      }
    }

    h2 {
      font-family: $gildas;
      font-size: 2.75rem;
      line-height: 1.25rem;
      color: rgb(53, 32, 21);
    }

    p {
      font-family: $gildas;
      font-size: 1rem;
      line-height: 2.813;
      color: rgb(69, 59, 59);
    }
    #close-btn {
      border-top-right-radius: 20px;
      position: absolute;
      font-size: 1.1rem;
      background-color: rgb(250, 250, 250);
      color: rgb(49, 46, 46);
      cursor: pointer;
      top: 0;
      right: 0;
      padding: 15px;
    }
  }
}
