.comment {
  width: 80%;

  h4 {
    font-family: $rob4;
    font-size: 0.875rem;
    color: #282828;
    line-height: 1.313rem;
  }
  p {
    margin-top: 20px;
    font-family: $rob3;
    font-size: 0.875rem;
    color: #939393;
    line-height: 1.813rem;
  }
}
