.about-page {
  .container {
    background-color: $color1;
    min-width: 100%;
    .about-header {
      height: 100vh;
      display: flex;
      text-align: center;
      flex-direction: column;
      text-align: center;
      background-image: url("../../img/home/about_page.webp");
      background-size: cover;
      background-position: center;
      h1 {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 5rem;
        }
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 6.125rem;
          line-height: 5.85rem;
          padding-top: 5rem;
        }
        font-family: $pop7;
        font-size: 4rem;
        text-transform: uppercase;
        color: $color1;
      }

      h2 {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 3.625rem;
          line-height: 3.625rem;
        }
        font-family: $gildas;
        font-size: 2rem;
        color: $color1;
      }
      div {
        img {
          width: 15rem;
          max-width: 45%;
        }
      }
    }
    .text {
      padding: 1rem;
      @media screen and (min-width: $breakPoint-Desktop) {
        font-size: 2.875rem;
        line-height: 2.875rem;
        text-align: center;
      }
      > * {
        @media screen and (min-width: $breakPoint-Tablet) {
          max-width: 60%;
          margin: 2rem auto;
        }
        margin-bottom: 3rem;
      }
      text-align: center;
      h3 {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 2.875rem;
          line-height: 2.875rem;
          text-align: center;
        }
        font-family: $pop4;
        font-size: 2rem;
        line-height: 2.5rem;
        color: $color4;
      }

      p {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 1rem;
          line-height: 2rem;
        }
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 1.1rem;
        }

        font-size: 1.1rem;
        color: #878788;
        font-family: $rob3;
        max-width: 90%;
        margin: 0 auto;
      }
    }

    .about-main {
      > * {
        margin-bottom: 1rem;
      }
      text-align: center;
      h4 {
        font-size: $rob3;
        font-size: 1rem;
        line-height: 1.938rem;
        color: #878788;
      }
      .manager-img img {
        border-radius: 50%;
        max-height: 11rem;
      }
      h5:first-of-type {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 3rem;
        }
        font-family: $jadyn;
        font-size: 3rem;
        color: #939393;
        line-height: 1.938rem;
      }
      h5 {
        margin-bottom: 1rem;
        font-family: $rob4;
        font-size: 1.3rem;
        color: $color7;
        line-height: 1.2rem;
      }
      h6 {
        font-family: $rob3;
        font-size: 0.9rem;
        color: $color2;
        line-height: 1.2rem;
      }
    }
    .jambian-infos-grid {
      padding: 4rem 0;
      @media screen and (min-width: $breakPoint-Desktop) {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 33.75rem 33.75rem;
      }
      .situation {
        max-width: 80%;
        margin: 0 auto;
        @include flex;
        flex-direction: column;

        h4 {
          @media screen and (min-width: $breakPoint-Desktop) {
            font-size: 2rem;
            line-height: 2rem;
          }
          font-size: 2rem;
          font-family: $pop4;
          color: $color4;
          line-height: 2rem;
          margin-bottom: 2rem;
        }
        p {
          @media screen and (min-width: $breakPoint-Tablet) {
            margin-bottom: 2rem;
          }
          font-family: $rob3;
          font-size: 1rem;
          color: #2d2d31;
          line-height: 2rem;
        }
      }

      .situation-img {
        @media screen and (min-width: $breakPoint-Tablet) {
          height: auto;
        }
        height: 30rem;
        background-image: url(../img/home/beach-about.webp);
        background-size: cover;
        background-position: center;
      }
      .plan {
        @media screen and (min-width: $breakPoint-Tablet) {
          height: auto;
        }
        height: 30rem;
        background-image: url(../img/home/land-contact.webp);
        background-size: cover;
        background-position: center;
      }

      .about-Sunshine {
        padding: 3rem;
        flex-direction: column;

        background-color: rgb(30, 29, 29);
        h4 {
          font-family: $pop2;
          font-size: 2.875rem;
          color: $color1;
          line-height: 2.875rem;
          margin-bottom: 2rem;
        }
        p {
          font-family: $rob3;
          font-size: 1rem;
          line-height: 2rem;
          color: $color1;
          text-align: left;
        }
      }
    }
    .sea-img {
      @include flex;
      text-align: center;
      clip-path: polygon(49% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
      background-image: url(../img/home/about-center.webp);
      background-position: center;
      background-size: cover;
      min-height: 32rem;
      max-height: 50%;
      blockquote {
        padding: 40px;
        max-width: 80%;
        margin: 0 auto;

        p {
          @media screen and (min-width: $breakPoint-Desktop) {
            font-size: 3.375rem;
            line-height: 4rem;
          }
          font-size: 2.375rem;
          line-height: 4rem;
          color: rgba(255, 255, 255, 0.66);
          font-family: $pop7;
          &::before {
            content: "\201C";
          }
          &::after {
            content: "\201D";
          }
        }
        footer {
          font-family: $gildas;
          font-size: 2.25rem;
          line-height: 2.25rem;
          color: $color1;
        }
      }
    }
    .reviews {
      @media screen and (min-width: $breakPoint-Desktop) {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
      }
      align-items: center;
      margin: 3rem;
      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 200px;
        }
      }
      .swiper {
        @media screen and (min-width: $breakPoint-Tablet) {
          display: block;
          width: 100%;
          margin-top: 2rem;
        }
        @media screen and (min-width: $breakPoint-Desktop) {
          display: block;
          width: 100%;
          margin-top: 2rem;
        }
        display: none; // swiper comments
      }
    }
    .ours-villas {
      @media screen and (min-width: $breakPoint-Desktop) {
        text-align: center;
        padding: 3rem 0;
        display: flex;
        gap: 1rem;
        max-width: 90%;
        margin: 0 auto;
      }
      max-width: 100%;
      text-align: center;
      .recherche {
        @media screen and (min-width: $breakPoint-Desktop) {
          .cards_skeleton {
            display: flex;
            gap: 2rem;
          }
        }
      }
    }
  }
}
