.account-container {
  max-width: 100%;
  .container {
    justify-content: space-between;
    max-width: 100%;
    background-color: $color1;

    .header-img {
      min-height: 15rem;
      background-image: url("../../img/home/login.webp");
      background-position-y: calc(40%);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .nav-book {
      @media screen and (min-width: $breakPoint-Tablet) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 4rem auto;
        max-width: 70%;
      }
      margin: 3rem auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      border: 1px solid transparent;
      padding: 50px;
      border-radius: 5px;
      height: 40px;
      padding: 20px;
      span {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 1.21rem;
        }
        margin-left: 1rem;
      }

      a,
      button {
        @media screen and (min-width: $breakPoint-Tablet) {
          max-width: 30%;
        }

        border: 2px solid black;
        padding: 15px 30px;
        border-radius: 5px;
        font-size: 1.2rem;
        color: $color2;
        font-family: $rob3;
        transition: 0.4s;
        cursor: pointer;
        width: 100%;
        &:hover {
          animation: up 0.4s ease forwards;
        }
      }
      button {
        background-color: rgb(255, 255, 255);
      }
    }
    .container-bookings {
      height: 100vh;
      .myBookings {
        margin: 14rem 0 1rem 0;
        background-color: $color1;
        border-radius: 0.7rem;
        @media screen and (min-width: $breakPoint-Tablet) {
          width: 90%;
          margin: 3rem auto;
          font-family: $pop2;
          font-size: 1.875rem;
          line-height: 2.875rem;
          color: $color4;
          text-align: center;
          padding: 1rem;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }
        @media screen and (min-width: $breakPoint-Desktop) {
          width: 40%;
          margin: 3rem auto;
          font-family: $pop2;
          font-size: 1.875rem;
          line-height: 2.875rem;
          color: $color4;
          text-align: center;
          padding: 1rem;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
        }

        .no-bookings {
          text-align: center;
          margin: 2rem 0;

          background-color: $color1;
          h1 {
            color: $color2;
          }
          p {
            font-family: $gildas;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $color2;
          }
          .click {
            margin: 1rem 0;
            padding: 0.5rem 2rem;
            border-radius: 0.5rem;
            text-transform: uppercase;
            span {
              margin: 0 0.5rem;
              font-size: 1.3rem;
            }
          }
        }
        h1 {
          text-align: center;
          font-family: $gildas;
          font-size: 2.5rem;
          line-height: 7rem;
          color: $color2;
        }

        .row {
          @include between;
          background-color: rgb(252, 252, 252);
          width: 90%;
          margin: 1rem auto;
          padding: 0 1rem;

          h2 {
            font-family: $rob3;
            font-size: 1.2rem;
            color: $color2;
            font-weight: 900;
          }

          p {
            font-family: $rob3;
            font-size: 1.2rem;
            color: $color2;
            font-weight: 900;
          }
          label {
            font-family: $rob3;
            font-size: 1rem;
            color: $color2;
            font-weight: 900;
          }

          input {
            margin: 1rem 0;
            outline: none;
            padding: 0.2rem 0.2rem 0.3rem 1rem;
            width: 60%;
            font-size: 1rem;
            background-color: rgb(255, 255, 255);
            border-radius: 2rem;
            border: none;
          }
          input:focus {
            outline: none;
            border: none;
          }
        }

        h1 {
          font-family: $gildas;
          font-size: 2.5rem;
          line-height: 7rem;
        }
        .send-div {
          text-align: center;
          .send {
            margin-top: 40px;
            border: 2px solid $color4;
            padding: 15px 30px;
            font-size: 1rem;
            font-family: $rob3;
            line-height: 1rem;
            transition: 0.4s;
            margin-bottom: 1rem;
            &:hover {
              animation: up 0.4s ease forwards;
              background-color: $color2;
              color: $color1;
            }
            span {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}
