.account-container {
  max-width: 100%;
  .container {
    max-width: 100%;
    padding-bottom: 2rem;
    background-color: rgb(237, 230, 230);

    .header-img {
      min-height: 15rem;
    }
    .nav-book {
      margin: 4rem auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px solid transparent;
      padding: 50px;
      border-radius: 5px;
      height: 40px;
      padding: 20px;
      span {
        margin-left: 1rem;
      }

      a,
      button {
        border: 2px solid black;
        padding: 15px 30px;
        border-radius: 5px;
        font-size: 1.2rem;
        color: $color2;
        font-family: $rob3;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
          animation: up 0.4s ease forwards;
        }
      }
      button {
        background-color: rgb(237, 230, 230);
      }
    }

    .login {
      max-width: 40%;
      h3 {
        color: darkcyan;
      }
      padding: 1rem;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      .row {
        width: 60%;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;

        h4 {
          font-family: $rob3;
          font-size: 1rem;
        }

        p {
          font-size: 1rem;
        }
        label {
          font-family: $rob3;
          font-size: 1rem;
        }

        input {
          padding-left: 1rem;
          width: 60%;
          font-size: 1rem;
          background-color: rgb(237, 230, 230);
        }
      }
      border-radius: 2rem;
      background-color: $color1;

      margin: 1rem auto;
      font-family: $pop2;
      font-size: 1.875rem;
      line-height: 2.875rem;
      color: $color4;
      text-align: center;
      h2 {
        font-family: $gildas;
        font-size: 3.5rem;
        line-height: 7rem;
      }

      .send {
        border-radius: 5px;
        background-color: $color1;
        margin-top: 40px;
        border: 2px solid $color4;
        padding: 15px 30px;
        font-size: 1rem;
        font-family: $rob3;
        line-height: 1rem;
        color: $color2;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          animation: up 0.4s ease forwards;
          background-color: $color2;
          color: $color1;
        }
        span {
          margin-left: 15px;
        }
      }
    }
  }
}
