.admin-page {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  h1 {
    text-align: center;
    color: $color1;
    font-family: $pop4;
    padding-top: 50px;
  }
  .admin-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 20% 85%;

    .dashboard {
      background-color: rgb(0, 0, 0);

      color: $color1;
      min-height: 100%;
      padding: 35px;

      p {
        font-size: 1.4rem;
        color: darkcyan;
      }

      ul {
        margin-top: 30px;
        > * {
          font-family: $pop4;
          margin-bottom: 30px;
        }
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
          cursor: pointer;
          font-size: 1rem;
        }
      }
    }

    .datas {
      min-width: 100%;
      background-color: rgb(255, 255, 255);
      color: $color1;
      table {
        width: 90%;
        border: 1px solid darkgray;
        border-collapse: collapse;
        padding: 5px;
      }
      table th {
        border: 1px solid #888282;
        padding: 5px;
        background: #000000;
        color: #fafafa;
      }
      table td {
        border: 1px solid #b3adad;
        text-align: center;
        padding: 5px;
        background: #ffffff;
        color: #313030;
      }
    }
  }
}
