.admin-page {
  background-color: rgb(255, 255, 255);
  h1 {
    text-align: center;
    color: $color2;
    font-family: $pop4;
    padding-top: 50px;
  }
  .admin-container {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: rgb(34, 34, 34);

    .dashboard {
      margin-top: 4rem;
      color: $color1;
      height: 50vh;
      background-color: rgb(34, 34, 34);
      margin-left: 2rem;

      h2 {
        padding-top: 1rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.7rem;
        color: darkcyan;
      }

      ul {
        > * {
          font-family: $pop4;
          margin-bottom: 30px;
        }
        min-height: 100%;
        display: flex;
        flex-direction: column;

        li:first-child {
          font-size: 1.5rem;
        }

        li {
          cursor: pointer;
          font-size: 1rem;
          line-height: 2rem;
          color: rgb(121, 116, 116);
          span {
            margin-left: 1rem;
          }
        }
      }
    }
    .datas {
      margin: 2rem 2rem 2rem 0;
      border-radius: 30px;
      background-color: rgb(230, 230, 230);
      color: $color1;
      height: 100vh;

      table {
        border-radius: 1rem;
        max-width: 90%;
        margin: 2rem auto;
        width: 100%;
        border: 1px solid darkgray;
        border-collapse: collapse;
        padding: 5px;
        .red-background {
          background-color: rgb(206, 67, 67);
          color: rgb(230, 224, 213);
        }
        .green-background {
          background-color: darkgreen;
          color: rgb(230, 224, 213);
        }
        .blue-background {
          background: darkblue;
        }
      }
      table th {
        text-transform: uppercase;
        border: 1px solid #888282;
        padding: 1rem;
        background: rgb(34, 34, 34);
        color: #fafafa;
      }
      table td {
        border: 1px solid #b3adad;
        text-align: center;
        padding: 1rem;

        background: #ffffff;
        color: #313030;
      }
      table td.dlt-td span {
        cursor: pointer;
      }
    }
  }
}
