.admin-page {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  h1 {
    text-align: center;
    color: $color2;
    font-family: $pop4;
    padding-top: 50px;
  }
  .admin-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: rgb(120, 139, 162);

    .dashboard {
      color: $color1;
      min-height: 100vh;
      background-color: rgb(120, 139, 162);
      margin-left: 2rem;

      h2 {
        padding-top: 1rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.4rem;
        color: darkcyan;
      }

      ul {
        > * {
          font-family: $pop4;
          margin-bottom: 30px;
        }
        min-height: 100%;
        display: flex;
        flex-direction: column;

        .active-li {
          background-color: #ffffff;
          color: darkblue;
        }

        li {
          cursor: pointer;
          font-size: 1rem;
          color: rgb(255, 255, 255);
          span {
            color: #ffffff;
            margin-left: 1rem;
          }
        }
      }
    }
    .datas {
      margin: 2rem;
      border-radius: 30px;
      background-color: rgb(255, 255, 255);
      color: $color1;

      table {
        border-radius: 1rem;
        max-width: 90%;
        margin: 2rem auto;
        width: 100%;
        border: 1px solid darkgray;
        border-collapse: collapse;
        padding: 5px;
      }
      table th {
        text-transform: uppercase;
        border: 1px solid #888282;
        padding: 1rem;
        background: #717089;
        color: #fafafa;
      }
      table td {
        border: 1px solid #b3adad;
        text-align: center;
        padding: 5px;
        background: #ffffff;
        color: #313030;
      }
    }
  }
}
