.booking {
  background-color: $color1;
  text-align: center;

  .main_img {
    min-width: 100%;
    margin-right: 15rem;
  }
  .main_img img {
    @media screen and (min-width: $breakPoint-Tablet) {
      min-width: 100%;
    }
    height: 25rem;
    width: 15rem;
  }
  .header_img img {
    width: 100%;
    height: 100%;
  }
  .container {
    .choose-villas-cards {
      @media screen and (min-width: $breakPoint-Desktop) {
        display: flex;
        gap: 1.1rem;
        padding-bottom: 2rem;
      }
    }
    max-width: 90%;
    margin: 0 auto;
    > * {
      margin-bottom: 40px;
    }
    .head-div {
      height: 60px;
      background-color: rgb(91, 94, 97);
      width: 100%;
      h3 {
        margin-left: 5rem;
        text-align: left;
        font-family: $rob4;
        color: $color1;
        padding: 10px 0;
        font-size: 1.75rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    .title-choose {
      margin-top: 25px;
      padding: 30px;
      background-color: rgb(237, 237, 237);
      h1 {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 2.875rem;
          line-height: 2.875rem;
        }
        font-size: 2rem;
        color: $color4;
        line-height: 2rem;
        font-family: $pop2;
      }
    }

    .choose-villas {
    }
    .title-cards {
      padding: 1rem;
      background-color: rgb(237, 237, 237);
      h3 {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 1.875rem;
          line-height: 2.875rem;
        }
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 2rem;
          line-height: 2.875rem;
        }
        font-size: 1.875rem;
        color: $color4;

        line-height: 2.875rem;
        font-family: $pop2;
      }
    }
    .choose-villa-card {
      @media screen and (min-width: $breakPoint-Desktop) {
        display: flex;
      }

      border: 1px solid $color1;
      box-shadow: 0px 0px 6px #6e6161;
      border-radius: 10px;
      margin: 1.5rem auto;

      // swiper cntainer
      .swipe div {
        @media screen and (min-width: $breakPoint-Tablet) {
          margin: 0rem 0 2rem 0rem;
        }
        @media screen and (min-width: $breakPoint-Desktop) {
          background-color: $color1;
        }

        z-index: 0;
        padding: 0;
        margin: 0 1rem 2rem 1.5rem;
        background-color: #ededed;

        //paginations container
        .swiper-pagination {
          margin: 2rem auto;
        }
      }
      .swipe {
        @media screen and (min-width: $breakPoint-Tablet) {
          max-width: 100%;
        }
        @media screen and (min-width: $breakPoint-Desktop) {
          max-width: 50%;
          padding-left: 3rem;
        }
        padding: 0;
        .swiper-pagination-bullet-active {
          margin-top: 2rem;
          background-color: rgb(0, 0, 0);
        }
        .swiper-wrapper {
        }
        .swiper,
        .swiper-initialized,
        .swiper-horizontal,
        .swiper-backface-hidden,
        .mySwiper {
          margin: 0;
          width: 100%;
        }
        max-width: 500px;
        .swiper-slide,
        .swiper-slide-active {
          margin: 0;
        }
        .swiper-slide-active {
          min-width: 100%;
          margin-right: 0;
          margin: 0;
        }
        .swiper-slide-prev {
          width: auto;
          margin: 0;
        }

        div {
          border-radius: 5px;
          min-width: 100%;
        }
        .swiper .swiper-initialized,
        .swiper-horizontal,
        .swiper-backface-hidden,
        .mySwiper {
          margin: 0;
        }
      }

      //calendar
      .choose-villa-infos {
        @media screen and (min-width: $breakPoint-Desktop) {
          margin: 0 auto;
        }
        @include flex;
        .card-infos {
          padding: 15px 0;
          > * {
            margin-bottom: 15px;
          }
          h2 {
            font-family: $pop2;
            font-size: 1.875rem;
            line-height: 2.875rem;
            color: $color4;
          }

          .guests {
            > * {
              margin-bottom: 15px;
            }
            .infos {
              div {
                width: 50%;
                margin: 15px auto;
                display: flex;
                justify-content: space-around;
              }

              font-size: 1rem;
              font-family: $gildas;
              > * {
                margin-left: 25px;
              }
              .house {
                position: relative;
                &::before {
                  position: absolute;
                  content: "";
                  width: 2px;
                  height: 100%;
                  background-color: #8a2525;
                  left: -8px;
                  bottom: 0;
                }
              }
              .price {
                position: relative;
                font-family: $pop2;
                font-size: 1.375rem;
                color: $color4;
                line-height: 1.375rem;
              }
            }

            .date {
              /*  @media screen and (max-width: 377px) {
                  .rdrMonth,
                  .rdrMonthAndYearWrapper,
                  .rdrDateDisplayWrapper {
                    width: 80%;
                    margin: 0 auto;
                  }
                } */
              .header-book {
                margin-top: 1rem;
                font-size: 1rem;

                max-width: 80%;
                margin: 20px auto;
                box-shadow: 0 0 5px #746b6b;
                padding: 10px 15px;
                .headerSearchText {
                  margin: 40px 20px;
                  font-family: $gildas;
                  font-weight: 700;
                  font-size: 1.2rem;
                  letter-spacing: 2px;
                  color: #767575;
                }
              }
              .link {
                margin: 20px;
                p {
                  font-size: 1rem;
                  font-family: $rob3;
                  color: #878788;
                  line-height: 2rem;
                }

                button {
                  cursor: pointer;
                  padding: 10px 20px;
                }
              }
            }
          }
          #button {
            font-family: "font-rob300", sans-serif;
            font-size: 0.938rem;
            color: rgb(56, 54, 54);
            background: rgb(255, 255, 255);
            cursor: pointer;
            line-height: 18px;
            letter-spacing: 1px;
            padding: 10px 30px;
            transition: 0.4s;
            border: 2px solid black;
            border-radius: 5px;
            transition: 0.4s linear;
            &:hover {
              transform: scale(1.1);
              background-color: black;
              color: white;
              font-family: 1.1rem;
            }
            span {
              color: rgb(53, 139, 53);
            }
          }
        }
      }
    }
  }
}
