.booking {
  text-align: center;
  .main_img {
    margin: 50px 0;
    height: 540px;
    min-width: 100%;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    > * {
      margin-bottom: 40px;
    }
    .head-div {
      height: 60px;
      background-color: rgb(91, 94, 97);
      width: 100%;
      h3 {
        margin-left: 5rem;
        text-align: left;
        font-family: $rob4;
        color: $color1;
        padding: 10px 0;
        font-size: 1.75rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    h2 {
      font-family: $pop7;
      font-size: 3.688rem;
      text-transform: uppercase;
      color: #000000;
      letter-spacing: 10px;
      line-height: 3.688rem;
    }

    .choose-villas {
      .choose-villa-card {
        min-height: 00px;
        padding: 15px 30px;
        border: 1px solid $color1;

        box-shadow: 0px 0px 6px #6e6161;
        border-radius: 10px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        .swipe {
          .swiper-pagination-bullet-active {
            background-color: rgb(36, 34, 34);
          }
          .swiper-wrapper {
            width: 500px;
          }
          .swiper,
          .swiper-initialized,
          .swiper-horizontal,
          .swiper-backface-hidden,
          .mySwiper {
            width: 100%;
          }
          max-width: 500px;
          .swiper-slide .swiper-slide-active {
            min-width: 100%;
          }
          div {
            border-radius: 5px;
            min-width: 100%;
          }
          .swiper .swiper-initialized,
          .swiper-horizontal,
          .swiper-backface-hidden,
          .mySwiper {
            max-width: 300px;
          }
        }

        //calendar
        .choose-villa-infos {
          @include flex;
          .card-infos {
            > * {
              margin-bottom: 40px;
            }

            h2 {
              font-size: 2rem;
              color: #1e1d1d;
            }

            .guests {
              .infos {
                font-size: 1rem;
                font-family: $gildas;
                > * {
                  margin-left: 15px;
                }
                .house {
                  position: relative;
                  &::before {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 100%;
                    background-color: #1c1c1c;
                    left: -8px;
                    bottom: 0;
                  }
                }
              }
              .header-book {
                margin-top: 1rem;
                font-size: 1rem;

                max-width: 80%;
                margin: 20px auto;
                box-shadow: 0 0 5px #746b6b;
                padding: 10px 15px;
                .headerSearchText {
                  margin: 40px 20px;
                  font-family: $gildas;
                  font-weight: 700;
                  font-size: 1.2rem;
                  letter-spacing: 2px;
                  color: #767575;
                }
              }
            }

            #button {
              font-family: "font-rob300", sans-serif;
              font-size: 1.3rem;
              color: rgb(255, 255, 255);
              background: rgb(1, 1, 1);
              cursor: pointer;
              line-height: 18px;
              padding: 15px 20px;
              transition: 0.4s;
              text-transform: uppercase;
              border-radius: 5px;
              transition: 0.4s linear;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
