.contact-page {
  .contact-header {
    height: 90vh;
    text-align: center;
    @include flex;
    flex-direction: column;
    margin: 0 auto;
    .heder-color {
      height: 3.5rem;
      width: 100%;
      background-color: $color4;
      position: absolute;
      top: 0;
      z-index: -500;
    }
    h1 {
      @media screen and (max-width: 1320px) {
        font-size: 5rem;
      }
      @media screen and (max-width: 1036px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 856px) {
        font-size: 1.8rem;
      }
      @media screen and (max-width: 385px) {
        margin-top: 2rem;
      }
      max-width: 80%;
      font-family: $pop7;
      font-size: 6.25rem;
      line-height: 6.25rem;
      color: $color4;
    }

    .staff-contact-box {
      @media screen and (max-width: 1320px) {
        width: 70%;
      }
      @media screen and (max-width: 483px) {
        display: block;
      }
      @include around;
      width: 80%;
      margin-top: 3rem;

      .staff {
        @media screen and (max-width: 483px) {
          margin-bottom: 2rem;
        }
        .staff-avatar {
          img {
            @media screen and (max-width: 1036px) {
              width: 7rem;
            }
            @media screen and (max-width: 856px) {
              width: 5rem;
            }

            border-radius: 50%;
            width: 9rem;
          }
        }
        .contacts {
          h3 {
            @media screen and (max-width: 1036px) {
              font-size: 1.2rem;
            }
            @media screen and (max-width: 856px) {
              font-size: 1rem;
            }
            font-family: $gildas;
            font-size: 1.563rem;
            line-height: 2.813rem;
            color: $color7;
          }
          a {
            > * {
              margin-right: 0.4rem;
            }

            @media screen and (max-width: 856px) {
              font-size: 0.8rem;
            }
            font-family: $rob4;
            font-size: 1rem;
            line-height: 2rem;
            color: $color8;
          }

          div {
            @media screen and (max-width: 856px) {
              font-size: 0.8rem;
            }
            margin-top: 1rem;
            position: relative;
            &::before {
              @media screen and (max-width: 483px) {
                display: none;
              }
              content: "";
              position: absolute;
              width: 100%;
              top: -0.7rem;
              left: 0;
              height: 1px;
              background-color: black;
            }
          }
        }
      }
    }
    .style {
      bottom: 0;
      position: absolute;
      height: 5rem;
      width: 100%;
      background-color: $color9;
    }
  }
  .contacts-social {
    @media screen and (max-width: 875px) {
      display: block;
    }
    min-height: 350px;

    background-color: $color9;
    @include around;
    .contact-us {
      padding: 3rem 0;
      margin-top: 2rem;
      text-align: center;
      h2 {
        @media screen and (max-width: 875px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 300px) {
          font-size: 1.5rem;
        }
        font-family: $pop2;
        color: $color1;
        font-size: 2.875rem;
        line-height: 2.875rem;
        margin-bottom: 1.8rem;
      }
      address {
        p {
          @media screen and (max-width: 875px) {
            font-size: 0.8rem;
          }
          @media screen and (max-width: 300px) {
            font-size: 0.7rem;
          }
          font-family: $rob4;
          font-size: 1rem;
          text-transform: uppercase;
          color: $color5;
          line-height: 2rem;
        }
      }
      ul {
        li {
          @media screen and (max-width: 875px) {
            font-size: 0.8rem;
          }
          @media screen and (max-width: 300px) {
            font-size: 0.6rem;
          }
          margin-top: 1rem;
          font-family: $rob4;
          font-size: 1rem;
          text-transform: uppercase;
          color: $color5;
        }
      }
    }
    .social {
      @media screen and (max-width: 875px) {
        padding-bottom: 3rem;
        text-align: center;
      }
      .social-media,
      a {
        @media screen and (max-width: 875px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 300px) {
          font-size: 0.7rem;
        }
        font-family: $rob4;
        font-size: 1.2rem;
        color: $color5;
        line-height: 2rem;
        .icon {
          @media screen and (max-width: 875px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 300px) {
            font-size: 0.8rem;
          }
          color: $color1;
          font-size: 1.3rem;
        }
        span {
          margin-left: 1rem;
        }
      }
    }
  }
}
