.header {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  .main_img {
    background-image: url("../img/home/zanzibar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 100%;
    @include flex;

    div {
      text-align: center;
      h1 {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 8.125rem;
          line-height: 6.25rem;
        }
        font-family: $pop7;
        color: rgb(255, 255, 255);
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 300;
      }
      opacity: 0;
      transform: translateY(-500px);
      animation: headeranim 2s ease forwards;
      h2 {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 3.625rem;
          line-height: 3.625rem;
        }
        font-family: $gildas;
        font-weight: 200;
        font-size: 2.1rem;
        color: rgb(255, 255, 255);
        font-weight: 300;
        margin: 3rem 0;
      }

      .button {
        background: transparent;
        border: 1px solid $color1;
        color: $color1;
        font-weight: 100;
        font-size: 1.4rem;
        font-family: $rob;
        line-height: 18px;
        padding: 20px 25px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          transform: scale(1.2);
          background: rgba(127, 127, 127, 0.672);
        }
      }
    }
  }
}
