.full-screen-container {
  background-color: rgba(255, 253, 253, 0.712);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .grid-container {
    @media screen and (min-width: $breakPoint-Desktop) {
      /*       height: 100vh; */
      margin-top: 3rem;
      padding-top: 4rem;
    }
    padding: 2rem 0.5rem;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/home/side-login-pic.webp");
  }
}

.login-container {
  @media screen and (min-width: $breakPoint-Desktop) {
    margin: 2rem;
  }
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: rgba(0, 2, 5, 0.852);
  padding: 1rem;
  max-width: 60%;
  width: 30rem;
}

.login-title {
  @media screen and (min-width: $breakPoint-Desktop) {
    font-size: 2rem;
  }
  margin: 0;
  color: $color1;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.form {
  .need-register {
    @media screen and (min-width: $breakPoint-Desktop) {
      font-size: 1rem;
    }
    text-align: center;
    color: rgba(255, 253, 253, 0.611);
    font-family: $rob4;
    margin-top: 1rem;
    font-size: 0.6rem;
    a {
      color: rgb(32, 141, 32);
    }
  }
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group input {
  @media screen and (min-width: $breakPoint-Desktop) {
    font-size: 1rem;
  }
  font-family: $pop4;
  background-color: transparent;
  font-size: 0.8rem;
  padding: 0.5em;
  border-bottom: 1px solid rgb(214, 213, 211);
  color: rgb(253, 253, 253);

  &::placeholder {
    color: rgba(29, 29, 29, 0.783);
  }
}
.input-group label {
  @media screen and (min-width: $breakPoint-Desktop) {
    font-size: 1rem;
  }
  color: rgb(254, 232, 192);
  margin: 0.6rem 0;
  font-size: 0.8rem;
}
.input-group .icon {
  @media screen and (min-width: $breakPoint-Desktop) {
    font-size: 1rem;
  }
  font-size: 0.8rem;
  color: rgb(167, 149, 149);
  position: absolute;
  right: 0.4rem;
  top: 60%;
}

.login-button {
  @media screen and (min-width: $breakPoint-Desktop) {
    font-size: 1rem;
  }
  padding: 0.5em 1em;
  font-size: 0.8rem;
  font-weight: lighter;
  width: 50%;
  margin: 1rem auto;
  color: rgba(255, 253, 253, 0.839);
  background-color: rgba(173, 165, 165, 0.639);
  border-radius: 20rem;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

.login-button:hover,
.login-button:focus {
  background-color: $color1;
  color: $color2;
}
.input-group span {
  @media screen and (min-width: $breakPoint-Desktop) {
    visibility: hidden;
  }
  visibility: hidden;
  transition: 0.4s;
}
input:invalid:focus {
  border-bottom: 1px solid rgb(142, 27, 27);
}
input:invalid:focus ~ span {
  color: darkred;
  font-size: 0.5rem;
  display: block;
}

.error-msg {
  @media screen and (min-width: $breakPoint-Tablet) {
    font-size: 1rem;
  }
  text-transform: uppercase;
  visibility: hidden;
  width: 60%;
  margin: 1rem auto;
  color: rgb(245, 0, 0);
  text-align: center;
  font-size: 0.7rem;
  border-radius: 2rem;
}

.show-error-msg {
  @media screen and (min-width: $breakPoint-Tablet) {
    font-size: 1rem;
  }
  text-transform: uppercase;
  visibility: visible;
  width: 60%;
  margin: 1rem auto;
  color: rgb(245, 0, 0);
  text-align: center;
  font-size: 0.6rem;
  border-radius: 2rem;
}

.msg {
  visibility: hidden;
  font-size: 0.4rem;
  color: red;
}
.invalidField {
  visibility: visible;
}

.error-email {
  @media screen and (min-width: $breakPoint-Tablet) {
    font-size: 1.3rem;
  }
  font-size: 0.8rem;
  color: red;
}
