.container-bookings {
  @media screen and (min-width: $breakPoint-Tablet) {
    margin: 2rem auto;
  }
  max-width: 90%;
  margin: 15rem auto;

  .reservation-grid {
    @media screen and (min-width: $breakPoint-Tablet) {
      grid-template-columns: 30% 70%;
      grid-template-rows: 320px;
      padding: 1rem;
    }
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 380px;
    background-color: rgb(255 255 255 / 56%);
    margin: 25px auto;
    border: 1px solid rgba(50, 84, 96, 0.454);
    box-shadow: 0 0 4px #989d85;
    border-radius: 25px;

    .res-img {
      margin: 15px;
      border-radius: 15px;
    }
    .res-infos {
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 1rem;
        font-family: $pop7;
        color: #605a5b;
        line-height: 1.7rem;
        letter-spacing: 1px;
      }
      h3,
      h3 span {
        font-family: $gildas;
        font-size: 1rem;
        color: rgb(2, 2, 2);
      }

      .res-date {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        font-size: 1rem;
        margin-top: 2rem;
        .start {
          position: relative;
          &::after {
            content: "";
            height: 100%;
            width: 1px;
            background-color: rgba(167, 164, 164, 0.855);
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
        p {
          margin-bottom: 10px;
          color: rgb(5, 5, 5);
          font-family: $pop4;
          font-size: 0.7rem;
        }
        h4 {
          margin-bottom: 10px;
          color: rgb(0, 0, 0);
          letter-spacing: 1px;
        }
      }

      .totals {
        p {
          margin-bottom: 10px;
          color: #5b5a58;
          font-family: $pop4;
          font-size: 0.7rem;
        }
        h4 {
          margin-bottom: 10px;
          color: rgb(3, 3, 3);
          font-size: 1.2em;
          line-height: 2rem;
          font-family: $pop4;
          letter-spacing: 1px;
        }
        div {
          background-color: #17161686;
          max-width: 50%;
          margin: 1rem auto;
          padding: 10px 10px;
          border-radius: 10px;
          font-family: $rob3;
          color: $color2;
          line-height: 2rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
