.walima-page {
  .walima-header {
    background-image: url("../img/walima/1.png");
    background-size: cover;
    background-position: center;
    height: 37rem;
    @include flex;
    h1 {
      @media screen and (max-width: 900px) {
        font-size: 6rem;
      }
      @media screen and (max-width: 456px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 300px) {
        font-size: 2rem;
      }
      text-align: center;
      font-family: $pop7;
      font-size: 8.125rem;
      line-height: 6.25rem;
      color: $color1;
    }
  }
  .walima-main {
    display: flex;
    max-width: 80%;
    margin: 5rem auto;
    @media screen and (max-width: 1250px) {
      flex-direction: column;
    }
    @media screen and (max-width: 530px) {
      min-width: 100%;
    }

    .text {
      @media screen and (max-width: 1250px) {
        text-align: center;
        min-width: 80%;
        margin: 2rem auto;
      }
      @media screen and (max-width: 530px) {
        font-size: 1rem;
        min-width: 80%;
      }
      max-width: 60%;
      padding: 0 4rem;
      h3 {
        @media screen and (max-width: 900px) {
          font-size: 1.8rem;
        }
        @media screen and (max-width: 730px) {
          font-size: 1.4rem;
        }
        @media screen and (max-width: 530px) {
          font-size: 1rem;
        }
        font-family: $pop2;
        font-size: 2.875rem;
        line-height: 2.875rem;
        color: $color4;
        margin-bottom: 2rem;
      }
      p {
        @media screen and (max-width: 900px) {
          font-size: 0.8rem;
          min-width: 100%;
        }
        font-family: $rob3;
        font-size: 1rem;
        line-height: 1.938rem;
        color: $color5;
      }
    }
    .walima-img {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .walima-img-swiper {
    @media screen and (max-width: 930px) {
      display: none;
    }
    margin: 4rem;
    img {
      max-height: 100%;
      width: 100%;
    }
  }
  .swahili {
    @include between;
    @media screen and (max-width: 930px) {
      display: block;
    }
    margin: 4rem;
    .swahili-img {
      background-image: url("../img/walima/swahili.jpeg");
      height: 30rem;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    .swahili-text {
      padding: 40px;
      h4 {
        @media screen and (max-width: 930px) {
          font-size: 2rem;
          text-align: center;
        }
        font-family: $pop2;
        font-size: 2.875rem;
        line-height: 2.875rem;
        color: $color4;
        margin-bottom: 3rem;
      }
      p {
        @media screen and (max-width: 930px) {
          font-size: 0.8rem;
        }
        font-family: $rob4;
        font-size: 1rem;
        line-height: 2rem;
        color: $color5;
      }
    }
  }
  .reservation {
    @media screen and (max-width: 860px) {
      h4 {
        font-size: 1rem;
      }
    }
    padding: 3rem;
    @include flex;
    flex-direction: column;
    background-color: $color2;
    div {
      margin-bottom: 3rem;
      text-align: left;
      h4 {
        @media screen and (max-width: 860px) {
          font-size: 2rem;
          text-align: center;
        }
        font-family: $pop2;
        font-size: 2.875rem;
        line-height: 2.875rem;
        color: $color1;
      }
      p {
        @media screen and (max-width: 860px) {
          display: none;
        }
        margin-top: 2rem;
        font-family: $rob4;
        font-size: 1rem;
        height: 3rem;
        color: $color1;
      }
      span {
        @media screen and (max-width: 860px) {
          display: none;
        }
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $color1;
      }
    }

    form {
      @media screen and (max-width: 860px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "firstname"
          "email"
          "date"
          "guests"
          "btn";
      }
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 2rem;
      grid-template-areas:
        "firstname email"
        "date guests "
        "btn btn";
      input {
        padding: 0 1rem;
        font-family: $rob4;
        letter-spacing: 1px;
        color: $color2;
        font-size: 1.2rem;
      }
      input::placeholder,
      [type="date"],
      select {
        @media screen and (max-width: 690px) {
          font-size: 0.8rem;
          padding: 0;
          height: 3rem;
        }
        font-size: 1rem;
        color: $color5;
      }
      .name {
        @media screen and (max-width: 690px) {
          font-size: 0.8rem;
          padding: 0;
          height: 3rem;
        }
        grid-area: firstname;
      }
      .email {
        @media screen and (max-width: 690px) {
          font-size: 0.8rem;
          padding: 0;
          height: 3rem;
        }
        grid-area: email;
      }
      #date {
        grid-area: date;
      }
      #num-guests {
        grid-area: guests;
      }
      button {
        font-family: $rob4;
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 1rem;
        grid-area: btn;
        padding: 1rem;
        color: $color1;
        background-color: rgb(61, 62, 61);
      }
      .success-message {
        @media screen and (max-width: 690px) {
          font-size: 0.6rem;
        }
        color: rgb(255, 255, 255);
        background-color: darkgreen;
      }
    }
  }
}
