.walima-page {
  background-color: $color1;
  .walima-header {
    background-image: url("../img/walima/1.png");
    background-size: cover;
    background-position: center;
    height: 37rem;
    @include flex;
    h1 {
      @media screen and (min-width: $breakPoint-Desktop) {
        font-size: 8.125rem;
        line-height: 6.25rem;
      }
      text-align: center;
      font-family: $pop7;
      font-size: 4.125rem;
      line-height: 4.25rem;
      color: $color1;
    }
  }
  .walima-main {
    @media screen and (min-width: $breakPoint-Desktop) {
      display: flex;
      max-width: 80%;
      margin: 5rem auto;
    }
    width: 80%;
    margin: 2rem auto;
    .text {
      @media screen and (min-width: $breakPoint-Desktop) {
        max-width: 60%;
        padding: 0 4rem;
      }

      h2 {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 2.875rem;
          line-height: 2.875rem;
        }
        font-family: $pop2;
        font-size: 2.2rem;
        line-height: 2.2rem;
        color: $color4;
        margin-bottom: 2rem;
      }
      p {
        @media screen and (min-width: $breakPoint-Tablet) {
          font-size: 1rem;
          line-height: 2rem;
        }
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 1.3rem;
          line-height: 2rem;
        }
        font-family: $rob3;
        font-size: 0.9rem;
        line-height: 1.98rem;
        color: $color5;
      }
    }
    .walima-img {
      @media screen and (min-width: $breakPoint-Desktop) {
      }
      img {
        @media screen and (min-width: $breakPoint-Desktop) {
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: block;
          height: 40rem;
          margin: 5rem 0;
        }
        object-fit: cover;
        object-position: calc(90%);
        width: 100%;
        height: 100%;
        display: none;
      }
    }
  }
  .walima-img-swiper {
    .swiper {
      @media screen and (min-width: $breakPoint-Tablet) {
        width: 40rem;
      }
      @media screen and (min-width: $breakPoint-Desktop) {
        width: 50%;
      }
      width: 23rem;
      margin: 0 auto;
    }
    .swiper div {
      z-index: 0;
      padding: 0;
      margin: 0rem 1rem 4rem 0rem;
      background-color: $color1; //paginations container
      .swiper-pagination {
        margin: 2rem auto;
      }
    }
    img {
      @media screen and (min-width: $breakPoint-Desktop) {
        width: 100%;
      }
      max-height: 100%;
      width: 100%;
    }
  }
  .swahili {
    @media screen and (min-width: $breakPoint-Desktop) {
      @include around;
    }
    width: 80%;
    margin: 0 auto;
    @media screen and (min-width: $breakPoint-Desktop) {
      margin: 4rem;
    }

    .swahili-img {
      @media screen and (min-width: $breakPoint-Desktop) {
        height: 40rem;
        width: 170%;
      }
      background-image: url("../img/walima/swahili.jpeg");
      height: 30rem;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    .swahili-text {
      padding: 40px;
      h3 {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 2.875rem;
          line-height: 2.875rem;
          text-align: center;
        }
        font-family: $pop2;
        font-size: 1.875rem;
        line-height: 1.875rem;
        color: $color4;
        margin-bottom: 1rem;
      }
      p {
        @media screen and (min-width: $breakPoint-Desktop) {
          font-size: 1rem;
          line-height: 2rem;
          text-align: center;
        }
        font-family: $rob4;
        font-size: 0.8rem;
        line-height: 1.8rem;
        color: $color5;
      }
    }
  }
  .reservation {
    @media screen and (min-width: $breakPoint-Desktop) {
      padding: 3rem;
      @include flex;
      flex-direction: column;
    }
    background-color: $color2;
    div {
      @media screen and (min-width: $breakPoint-Desktop) {
        margin-bottom: 3rem;
        text-align: left;
      }
      margin-bottom: 3rem;
      text-align: center;
      h4 {
        font-family: $pop2;
        font-size: 1.875rem;
        line-height: 2.875rem;
        color: $color1;
      }
      p {
        margin-top: 2rem;
        font-family: $rob4;
        font-size: 1rem;
        height: 3rem;
        color: $color1;
      }
      span {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $color1;
      }
    }

    form {
      padding-bottom: 2rem;
      /*      @media screen and (max-width: 860px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "firstname"
          "email"
          "date"
          "guests"
          "btn";
      } */
      @media screen and (min-width: $breakPoint-Desktop) {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2rem;
        grid-template-areas:
          "firstname email"
          "date guests "
          "btn btn";
      }
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
      grid-template-areas:
        "firstname"
        "email "
        "date"
        "guests"
        "btn";

      input {
        @media screen and (min-width: $breakPoint-Desktop) {
          @include flex;
          flex-direction: column;
          width: 100%;
        }
        width: 80%;
        margin: 0 auto;
        padding: 0 1rem;
        font-family: $rob4;
        letter-spacing: 1px;
        color: $color2;
        font-size: 1.2rem;
      }
      input::placeholder,
      [type="date"],
      select {
        @media screen and (min-width: $breakPoint-Desktop) {
          width: 100%;
        }
        width: 80%;
        padding: 0 1rem;
        margin: 0 auto;
        font-size: 1rem;
        color: $color5;
      }
      .name {
        grid-area: firstname;
      }
      .email {
        grid-area: email;
      }
      #date {
        grid-area: date;
      }
      #num-guests {
        grid-area: guests;
      }
      button {
        @media screen and (min-width: $breakPoint-Desktop) {
          width: 100%;
        }
        width: 80%;
        margin: 0 auto;
        font-family: $rob4;
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 1rem;
        grid-area: btn;
        padding: 1rem;
        color: $color1;
        background-color: rgb(61, 62, 61);
      }
      .success-message {
        color: rgb(255, 255, 255);
        background-color: darkgreen;
      }
    }
  }
}
